{% extends "admin/change_form.html" %}
{% load i18n %}

{% block after_field_sets %}{{ block.super }}
<link rel="stylesheet" href="{{MEDIA_URL}}cropper/jqModal.css" type="text/css" />
<script type="text/javascript" src="{{ MEDIA_URL }}cropper/jquery-1.5.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}cropper/jqModal.js"></script>
<script type="text/javascript">
  var originalDismissAddAnotherPopup;
  
  (function(){
    var id_original,
        id_x,
        id_y,
        id_w,
        id_h,
        id_w_d,
        id_h_d,
        crop_url = '{% url admin:admin_cropper_crop %}',
        crop_modal = $('<div />', {'class': 'jqmWindow', 'id': 'crop_modal', css: {'display': 'none'}}).appendTo($('body'));
        
    function showCropArea() {
        (id_original.val() != '') && crop_modal.jqm({
            'ajax': crop_url + id_original.val() + '/'
          }).jqmShow();
    }
    
    function storeCropData(){
      (id_original.val() != '') && $('option:selected', id_original).data('cropper-coords', {x: id_x.val(), y: id_y.val(), w: id_w.val(), h: id_h.val(), w_d: id_w_d.val(), h_d: id_h_d.val()});
    }
    

    function html_unescape(text){
      // Unescape a string that was escaped using django.utils.html.escape.
      text = text.replace(/&lt;/g, '<');
      text = text.replace(/&gt;/g, '>');
      text = text.replace(/&quot;/g, '"');
      text = text.replace(/&#39;/g, "'");
	    text = text.replace(/&amp;/g, '&');
	    return text;
  	}
    
    
    addEvent(window, 'load', function()
    {

      //clobber this function so we can trigger the change event on the FK select
      originalDismissAddAnotherPopup = dismissAddAnotherPopup;
      dismissAddAnotherPopup = function(win, newId, newRepr){
        var newId = html_unescape(newId),
            name = windowname_to_id(win.name),
            elem = document.getElementById(name);
        if (!elem) {
          elem = document.getElementById(toId);
        }
        originalDismissAddAnotherPopup(win, newId, newRepr);
        $(elem).change();
      };

      id_original = $('#id_original');
      id_x = $('#id_x');
      id_y = $('#id_y');
      id_w = $('#id_w');
      id_h = $('#id_h');
      id_w_d = $('#id_w_display');
      id_h_d = $('#id_h_display');
            
      $('<input />', {'type': 'submit', 'value': 'Crop this image'})
        .appendTo($('<span />', {'id': 'crop-action', 'css': {'margin-left': '1em', 'display': 'none'}})
          .appendTo(id_original.parent()))
        .click(function(e){
          e.preventDefault();
          showCropArea();
        });
        storeCropData();
      id_original
        .change(function(e){
          var storedData = $('option:selected', this).data('cropper-coords'),
              newData = storedData ? storedData : {x: 0, y: 0, w: '', h: '', id_w_d: '', id_h_d: ''};
          $('#crop-action').toggle($(this).val()!='');
          id_x.val(newData.x);
          id_y.val(newData.y);
          id_w.val(newData.w);
          id_h.val(newData.h);
          id_w_d.val(newData.w_d);
          id_h_d.val(newData.h_d);
        })
        .change();
      id_x.add(id_y).add(id_w).add(id_h).add(id_w_d).add(id_h_d).change(storeCropData);
    });
  })();
</script>

{% if object_id %}

{% endif %}
{% endblock %}
