{% load cropper_tags %}
<script type="text/javascript" src="{{ MEDIA_URL }}cropper/jquery.Jcrop.js"></script>        
<link rel="stylesheet" href="{{MEDIA_URL}}cropper/jquery.Jcrop.css" type="text/css" />
<form method="post" id="crop-form" action="{{ original.get_absolute_url }}">
  <h1>Crop image</h1>
  {% if ALLOWED_DIMENSIONS %}
  <h3>Layout</h3>
  <label for="dim_restrictions">Thumbnail type:</label>
  <select name="dim_restrictions" id="dim_restrictions">
  {% for dim in ALLOWED_DIMENSIONS %}<option value="option{{forloop.counter}}" {% allowed_dimension_data dim.1 %}>{{dim.0}}</option>
  {% endfor %}
  </select>
  {% endif %}
  <h3>Original image <small>({{original.image_width}}px x {{original.image_height}}px)</small></h3>
  <div style="margin-bottom: 20px;">
    <img width="{{ original.image_width }}" height="{{ original.image_height }}" src="{{ original.image.url }}" id="cropbox" alt="" />
  </div>

  <h3>Preview</h3>
  <div id="crop-mask" style="outline: 1px dashed #8E8E8E; background-color: #fafafa; width: 100px; height: 100px; overflow: hidden; margin-bottom: 20px;"><img src="{{ original.image.url }}" id="preview" alt="" /></div>
  <p><input type="submit" id="save_crop" value="Save" /> <input type="submit" id="cancel_crop" value="Cancel" /> <a href="#" id="clear_crop">Clear selection</a></p>
</form>


<script type="text/javascript" src="{{ MEDIA_URL }}cropper/cropper-admin.js">&nbsp;</script>
